<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="lithnet-microsoftteams-ma" type="Lithnet.MicrosoftTeams.ManagementAgent.MicrosoftTeamsMAConfigSection, Lithnet.MicrosoftTeams.ManagementAgent" />
  </configSections>
  <appSettings file="secrets.config">
    <add key="filter-query" value="startswith(mailNickname,'mx-')"/>
    <add key="channel-name-filter" value="^(?!general$).*$"/>
    <add key="randomize-channel-name-on-delete" value="true"/>
    <add key="users-to-ignore" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
  </runtime>
  <lithnet-microsoftteams-ma import-threads="10" connection-limit="1000" export-threads="15" post-group-create-delay="0" rate-limit-request-limit="3000" rate-limit-request-window-seconds="150" delete-add-conflicting-group="true"/>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
